<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<h1>Editar Nota</h1>
<form th:action="@{/notas/guardar}" method="post" th:object="${nota}">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{estudiante.id}" />
    <div>
        <label>Materia</label><br>
        <input type="text" th:field="*{materia}" />
    </div>
    <div>
        <label>Observacion</label><br>
        <input type="text" th:field="*{observacion}" />
    </div>
    <div>
        <label>Nota</label><br>
        <input type="text" th:field="*{valor}" />
    </div>
    <div>
        <label>Porcentaje</label><br>
        <input type="text" th:field="*{porcentaje}" />
    </div>
    <button type="submit">Guardar</button>
</form>